.modal {
	z-index: 5500 !important;
}

.menuEstiloImagem {
	height: 50px;
	padding-bottom: 15px;
	padding-right: 15px;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.t {
	width: 30%;
}

.ui-growl {
	margin-top: 90px !important;
	margin-right: 81px !important;
	opacity: 1;
	z-index: 5000 !important;
}

.block {
	position: relative;
}

#menuTop {
	background-color: #345BB6;
}

#expandirNav {
	margin-top: 65px;
}

.botaoSair {
	cursor: pointer;
}

.navbar-default {
	box-shadow: 4px 4px 5px #D6EAF8!important;
}

.panel {
	box-shadow: 4px 4px 5px #white!important;
}

.ui-icon-triangle-1-s {
	margin-left: -4px !important;
	margin-top: 6px !important;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {
	padding: 7px 120px 3px 5px !important;
	z-index: 3000 !important;
}

.dataTables_filter {
	display: none !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list {
	width: 253px;
}

.loader {
  border: 16px solid #D6EAF8;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 9999 !important;
}

.col-xs-11.col-sm-4.alert {
	z-index: 10000 !important;
}

#statusDialog_modal {
	z-index: 9997 !important;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ui-hidden-container {
	z-index: 9998 !important;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.icon-dashboard {
	color: white !important;
	font-size: 75px !important;
	margin-top: 10px !important;
}

.text-icon-dashboard {
	color: white !important;
	margin-top: 5px !important;
}